.playscale{
	opacity:0;
	transition: all 2s ease-in-out;
	transform: scale(2.4);
}

.playscale-two{
	opacity:0;
	transition: all 2.7s ease-in-out;
	transform: scale(2.6);
}

@include play-button(100px);

.outer-ring, .video-play-btn, .outer-ring-two{
	left:50%;
	right:50%;
	border-radius:100%;
	position:absolute;
}


$video-width : 100px;

.play-button-container{
	width:$video-width;
	height:$video-width;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-20%);
	transform: translateY(-20%);
	left:50%;
	right:50%;
	// margin-left: -($video-width / 2);
  margin-left:-50px;


	@include play-button(100px);

	.outer-ring, .video-play-btn, .outer-ring-two{
		left:50%;
    	right:50%;
    	border-radius:100%;
    	position:absolute;
	}
}

.no-scroll{
	overflow:hidden;
	// position:fixed;
}


.animateArrow{
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-webkit-transform: translate(-50px,-50px);
	        transform: translate(-50px,-50px);    
}



.arrow-down-animation{
	transform:translate( 0px, 4px);	
	-webkit-transform:translate( 0px, 4px);	
	-moz-transform:translate( 0px, 4px);	
	-o-transform:translate( 0px, 4px);	
}

body.page-load-animate span.mask .page-load-element{
	opacity:1 !important;
	transform: scale(1.1) !important;
	
	transform: translate(0, 0px) !important;
	-webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}

body.page-load-animate video.masthead-video{
	opacity:1;
	
}

body.page-load-animate section.hero .wrapper{
	opacity:1;
	transform: scale(1) !important;
}


.lights-out{
	opacity:0.2;
}
