// $b-font: 'Constantia';
$b-font: 'Constantia', georgia, serif;

@font-face {
    font-family: 'Constantia';
    src: url('./fonts/Constantia.eot');
    src: url('./fonts/Constantia.eot') format('embedded-opentype'),
         url('./fonts/Constantia.woff2') format('woff2'),
         url('./fonts/Constantia.woff') format('woff'),
         url('./fonts/Constantia.ttf') format('truetype'),
         url('./fonts/Constantia.svg#Constantia') format('svg');
}

//Base font
$base-font-size: 16px;

body, html{
  font-family: $b-font;
  font-size: $base-font-size;
  line-height:22px;
}


h1,h2,h3,h4,h5,p,a{
	font-family: 'Constantia';
  line-height: 1.3em;
  color:white;
}


h1{
	font-size: em(42px);
	letter-spacing:3px;
	font-weight:100;
	line-height:0.9em;
	text-align:center;
	
	
	@include screen (medium){
		font-size: em(62px);
	}


	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { font-size: em(32px);}
}


h2{
  font-size: em(28px);
  font-weight:300;
}

h3{
  font-size: em(28px);
  font-weight:300;
}

h4{
  font-size: em(14px);
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:4px;
  text-align:center;
}

p{
	
}

blockquote{
	font-size: em(30px);
	font-weight:300;
	line-height:1.2em;
	letter-spacing:1px;
	color:white;
	font-style:italic;
	position:relative;
	clear:both;
	padding-bottom:60px;
	padding-right:10px;
	padding-left:10px;	
	
	@include screen (medium){
		font-size: em(50px);
		padding-bottom:60px;
	}

}

cite{
	position:relative;
	font-size: em(18px);
	font-weight:300;
	color:white;
	letter-spacing:1px;
	font-weight:100;
	color:#484354;
	
	@include screen (medium){
		font-size: em(22px);
	
	}

	&:before{
		content:"";
		top:-30px;
		left:0;
		position:absolute;
		width:60px;
		height:1px;
		left:50%;
		right:50%;
		margin-left:-30px;
		background:#363340;
	}
	
}